<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE TAREAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .bottom-right-container {
            position: fixed;
            bottom: 150px;
            right: 25px;
            text-align: right;
            font-size: 20px;
            color: #215086;
        }

        .unabimagen {
            position: fixed;
            bottom: 10px;
            right: 10px;
            text-align: right;
        }


        .bottom-right-container img {
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>LISTA DE TAREAS</h1>
        <h2>Programación Avanzada</h2>
        <div class="auth-container">
            <div class="auth-box">
                <a href="{{ url_for('main.register') }}" class="auth-button">Registrar</a>
            </div>
            <div class="divider"></div>
            <div class="auth-box">
                <a href="{{ url_for('main.login') }}" class="auth-button">Entrar</a>
            </div>
        </div>
    </div>
    
        </div>
    <div class="footer">
        <span>Comision 1: </span>
        <span>Borges Luana</span>
        <span>·</span>
        <span>Lopez Nazareno</span>
        <span>·</span>
        <span>Micheloni Fiamma</span>
        <span>·</span>
        <span>Conte Lucas</span>
    </div>
    <div class="bottom-right-container">
        <div style="font-weight: bold;">
            Tecnicatura en Programación<br>
            10-06-2024<br>
            Profesor: Felipe Morales
        </div>
    <img class="unabimagen" src="{{ url_for('static', filename='images/Unab.png') }}" alt="Imagen" class="bottom-right">
</body>
</html>
