<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE TAREAS - Registrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="{{ url_for('main.index') }}" class="home-link"><h1 data-text-es="🏠Inicio" data-text-en="🏠Home">🏠Inicio</h1></a>

    <div class="form-container">
        <h1>Registrar</h1>
        <form method="POST" action="{{ url_for('main.register') }}">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <label for="password2">Repetir Contraseña</label>
            <input type="password" id="password2" name="password2" required>
            <button type="submit">Registrar</button>
        </form>
    </div>

    <div class="footer">
        <span>Comision 1: </span>
        <span>Borges Luana</span>
        <span>·</span>
        <span>Lopez Nazareno</span>
        <span>·</span>
        <span>Micheloni Fiamma</span>
        <span>·</span>
        <span>Conte Lucas</span>
    </div>
</body>
</html>
